<!DOCTYPE html>
<html>
<head>
    <title>Football Competitions</title>
</head>
<body>
<ul>
    {% for competition in competitions %}
        <li><a href="?page=competition&name={{ competition.code }}">{{ competition.name }}</a></li>
    {% endfor %}
</ul>

<p>No Account? Register <a href=/index.php?page=registration>here</a>!</p>

</body>
</html>
