<!DOCTYPE html>
<html>
<head>
    <title>Football Competitions</title>
</head>
<body>

{% if user %}
    <p>Welcome back, {{ user }}</p>
{% endif %}

<ul>
    {% for competition in competitions %}
        <li><a href="?page=competition&name={{ competition.competitionCode }}">{{ competition.competitionName }}</a></li>
    {% endfor %}
</ul>


{% if not user %}
    <p>Need to log in? Go <a href=/index.php?page=login>here</a>!</p>
    <p>No Account? Register <a href=/index.php?page=registration>here</a>!</p>
{% endif %}


{% if user %}
    <p>Log out? Click <a href=/index.php?page=logout>here</a>.</p>
{% endif %}

</body>
</html>
