<!DOCTYPE html>
<html>
<head>
    <title>Player Details</title>
</head>
<body>
<h1>{{ player.name }} </h1>
<ul>
    <li>Geburtsdatum: {{ player.dateOfBirth }}</li>
    <li>Nationalität: {{ player.nationality }}</li>
    <li>Trikotnummer: {{ player.shirtNumber }}</li>
</ul>
</body>
</html>
