<!DOCTYPE html>
<html lang="en">
<head>
    <title>Team Overview </title>
</head>
<body>

<h1>Team Overview</h1>

{% if user %}
<a href="/index.php?page=favorites&action=add&id={{ id }}">Add to Favorites</a>
<br><br>
<a href="/index.php?page=favorites&action=remove&id={{ id }}">Remove from Favorites</a>
{% endif %}

{% for tea in team %}
    <UL>
        <li><a href="/index.php?page=player&id={{ tea.teamId }}">{{ tea.teamName }}</a></li>
    </UL>
{% endfor %}
</body>
</html>

