<!DOCTYPE html>
<html>
<head>
    <title>Team Overview </title>
</head>
<body>

<h1>Kader</h1>

{% for tea in team %}
    <UL>
        <li><a href="/index.php?page=player&id={{ tea.teamId }}">{{ tea.teamName }}</a></li>
    </UL>
{% endfor %}
</body>
</html>

