<!DOCTYPE html>
<html>
<head>
    <title>Player Details</title>
</head>
<body>
<h1>{{ result.name }} </h1>
<ul>
    <li>Geburtsdatum: {{ result.dateOfBirth }}</li>
    <li>Nationalität: {{ result.nationality }}</li>
    <li>Trikotnummer: {{ result.shirtNumber }}</li>
</ul>
</body>
</html>
